.text-blue{
    color: rgb(4, 62, 109);
}
.badge-blue{
    background-color: rgb(14, 98, 168);
}
body{
    margin-top: 65px;
    background-color: rgb(210, 232, 249);
    overflow-x: hidden;
}

.form-part{
    background-color: rgb(167, 209, 244);
    border-radius: 10px !important;
}
.form-part .login-btn,.form-part .register-btn{
    background-color: #f8ecec;
    border-radius: 6px !important;
    border: 1px solid #8f8d8d;
}
.input-group{
    display: inline-block;
}

.input-group .input-field{
    width: 75% !important;
    margin: 15px auto 5px !important;
    border-radius: 6px !important;
}

.width{
    width: 300px;
    height: 350px;
}
.w-30{
    width: 100px;
    height: 150px;
}
.navbar-nav .nav-link.active{
    color: rgb(4, 62, 109);
}